'''
.env파일 예시 init입니다.
.env파일에 개인 key값 사용
'''
# ==== API Keys ====
UPSTAGE_API_KEY=your_upstage_api_key_here
OPENAI_API_KEY=your_open_api_key_here
# ==== Database ====
DATABASE_URL=postgresql://username:password@host:port/dbname

# ==== General ====
PYTHONDONTWRITEBYTECODE=1
DEBUG=True

#===== S3 설정 =====
USE_S3=True
S3_BUCKET=your_resource_bucket
S3_RAW_PREFIX=raw-documents/
S3_CROP_PREFIX=processed-documents/crops/
S3_PAGE_IMG_PREFIX=processed-documents/page-img/
# S3_JSON_PREFIX=processed-documents/json/