'''
.env파일 예시 init입니다.
.env파일에 개인 key값 사용
'''
# APIkey
UPSTAGE_API_KEY=your_key
OPENAI_API_KEY=your_key

# HuggingFace
HF_API_KEY=your_key


# Database
POSTGRES_DB=moneymong
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=monkey_
POSTGRES_PASSWORD=your_key
POSTGRES_HOST=moneymong-db.c5g8ga08stkl.ap-northeast-2.rds.amazonaws.com
DATABASE_URL=


# FastAPI
API_HOST=localhost
API_PORT=8000
DEBUG=True
RELOAD=True

# AWS Configuration
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_key


# s3
USE_S3=True
S3_BUCKET=moneymong-resources-bucket
S3_RAW_PREFIX=raw-documents/
S3_CROP_PREFIX=processed-documents/crops/
S3_PAGE_IMG_PREFIX=processed-documents/page-img/

